<header-component tagline="Smart data table library with sorting, filtering, pagination & add/edit/delete functions."></header-component>

<section class="main-content">

  <h3><a id="demo" class="anchor" href="#demo" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>学生信息表</h3>
  
  <div>
    <basic-example-data></basic-example-data>
  </div>
  <div *ngIf="strMsg!==''" class="loading">
    <div class="loading-inner">
      <mat-spinner></mat-spinner>
      {{strMsg}}
    </div>
  </div>