<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">签到</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">缴费记录</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">其他</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="container">
      <p>姓名：{{showUserDetail.name}}</p>
      <p>微信：{{showUserDetail.wechat}}</p>
      <p>课程名称：{{showUserDetail.courceName}}</p>
      <p>使用次数：{{showUserDetail.doneTime}}/{{showUserDetail.buyClassTime}}</p>
      <p>使用时间：{{showUserDetail.purchaseTime}}</p>
      <p class="hasTheDate">签到记录：{{showUserDetail.hasTheDate}}</p>
      <ng2-smart-table [settings]="settings" (createConfirm)="addRow($event)" (editConfirm)="editeRow($event)" (deleteConfirm)="deleteFn($event)" (rowSelect)="rowSelectFn($event)" [source]="data"></ng2-smart-table>
    </div>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="container">
            <ng2-smart-table [settings]="settingsFree" (createConfirm)="addRow($event)" (editConfirm)="editeRow($event)" (deleteConfirm)="deleteFn($event)" (rowSelect)="rowSelectFn($event)" [source]="data"></ng2-smart-table>
        </div>
    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
  </div>